body{
    margin: 0;
}

.Navbar{
    
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
}

.Navbar button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: xx-large;
    cursor: pointer;
}

.Navbar h1,h3{
    margin: 0;
}

.Navbar h3{
    transform: translateY(25%);
}
.menu_lateral{
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    left: 0;
    height: 95.2vh;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    top: 45px;
    
}

.menu_lateral button{
    height: 60px;
    margin-bottom: 5px;
    background-color: rgb(58, 58, 58);
    border: none;
    cursor: pointer;
}